<div>
    <!-- Status Card -->
    <!-- <div class="flex justify-start mt-4 mb-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-6">

            <div class="bg-white dark:bg-gray-900 rounded-2xl shadow p-5 border border-gray-100 dark:border-gray-800">
            <p class="text-sm text-gray-500">Gesamt Messwerte</p>
            <h3 class="text-3xl font-bold mt-1">
                {{ customerChangePayment.length }}
            </h3>
            </div>

            <div class="bg-white dark:bg-gray-900 rounded-2xl shadow p-5 border border-gray-100 dark:border-gray-800">
            <p class="text-sm text-gray-500">Aktive Messwerte</p>
            <h3 class="text-3xl font-bold text-green-600 mt-1">
                {{ getActiveCount() }}
            </h3>
            </div>

        </div>
    </div> -->

    <!-- Loading -->
    @if (isLoading) {
    <div class="flex items-center gap-2 text-gray-500 text-sm">
        <div class="animate-spin rounded-full h-4 w-4 border-b-2 border-brand-500"></div>
        <span>Messwerte werden geladen...</span>
    </div>
    }

    <!-- Table -->
    <div class="relative flex overflow-hidden rounded-2xl bg-white dark:bg-gray-900 shadow">
        <div class="flex-1 min-w-0 p-6">

            <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">Ratenbetrag ändern</h2>
            <!-- <div class="flex items-center gap-2 mb-6">
            <div class="flex-1">
                <input type="text" [(ngModel)]="searchTerm"
                (ngModelChange)="onSearchInput($event)"
                    placeholder="Suche nach Liefer-ID, Kunden-ID..."
                    class="w-full px-3 py-2 rounded-lg border border-gray-300"/>
            </div>
            <div class="relative">
                <button
                    (click)="isFilterOpen = !isFilterOpen"
                    class="px-3 py-2 rounded-lg border border-gray-300
                        dark:border-gray-600 dark:bg-gray-800
                        dark:text-white text-sm bg-white
                        hover:bg-gray-50 dark:hover:bg-gray-700
                        transition flex items-center gap-2 whitespace-nowrap">

                    <span>Status: {{ getSelectedFilterLabel() }}</span>

                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4"
                        [class.rotate-180]="isFilterOpen"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">

                    <path stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                    </svg>

                </button>
            </div>

        </div> -->
            <table class="w-full text-sm text-left border-collapse">
                <thead class="text-xs uppercase bg-gray-100 dark:bg-gray-800 text-gray-600 dark:text-gray-300">
                    <tr>
                        <th class="px-4 py-3 rounded-tl-lg">AUSWEIS</th>
                        <th class="px-4 py-3 rounded-tl-lg">Name</th>
                        <th class="px-4 py-3">Neuer Vorauszahlungsbetrag (€)</th>
                        <th class="px-4 py-3">Grund der Änderung</th>
                        <th class="px-4 py-3">Status</th>
                        <th class="px-4 py-3">Erstellt am</th>
                        <th class="px-4 py-3 rounded-tr-lg text-right">Aktion</th>
                    </tr>
                </thead>
                <tbody class="divide-y dark:divide-gray-700">
                    @for (request of customerChangePayment; track trackById($index, request); let i = $index) {
                    <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 transition cursor-pointer">
                        <td class="px-4 py-4"> {{ i + 1 }} </td>
                        <td class="px-4 py-4">
                            <div class="flex items-center gap-3">
                                <!-- Avatar -->
                                <div class="w-8 h-8 rounded-full bg-brand-100 text-brand-600
                            flex items-center justify-center text-xs font-semibold">

                                    {{ request.customerName?.charAt(0) }}
                                </div>
                                <!-- Customer Info -->
                                <div>
                                    <p class="font-medium text-gray-900 dark:text-white">
                                        {{ request.salutation }}. {{ request.customerName }}
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        {{ request.customerEmail }}
                                    </p>
                                </div>

                            </div>
                        </td>
                        <!-- <td class="px-4 py-4"> {{ request.deliveryId || '—' }} </td>
            <td class="px-4 py-4"> {{ request.orderId || '—' }} </td>
            <td class="px-4 py-4"> {{ request.connectionId || '—' }} </td> -->
                        <td class="px-4 py-4"> {{ request.newAdvanceAmount || '—' }} </td>
                        <td class="px-4 py-4"> {{ request.reason || '—' }} </td>

                        <td class="px-4 py-4">
                            <span class="px-2 py-1 rounded-full text-xs" [ngClass]="request.status === 1 ? 'bg-green-100 
                    text-green-700' : 'bg-red-100 text-red-700' ">
                                {{ request.status === 1 ? 'Weitergeleitet' : 'Im Gange' }}
                            </span>
                        </td>
                        <td class="px-4 py-4"> {{ formatDate(request.createdAt) }} </td>

                        <!-- Actions -->
                        <!-- <td class="px-4 py-4 text-right">
            <button (click)="openSidebar(request); $event.stopPropagation()" class="inline-flex items-center gap-1 px-2.5 py-1 text-xs font-medium rounded-lg
                     bg-brand-50 text-brand-600 hover:bg-brand-100
                     dark:bg-brand-900/20 dark:text-brand-400 dark:hover:bg-brand-900/40
                     transition cursor-pointer border border-brand-200 dark:border-brand-700/40">
              Details
              <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </button>
          </td> -->

                        <td class="px-4 py-4 text-right">
                            <button (click)="openSidebar(request, i)" class="inline-flex items-center gap-1 px-2.5 py-1 text-xs font-medium rounded-lg
                    bg-brand-50 text-brand-600 hover:bg-brand-100
                    dark:bg-brand-900/20 dark:text-brand-400
                    dark:hover:bg-brand-900/40
                    transition cursor-pointer border
                    border-brand-200 dark:border-brand-700/40">

                                Einzelheiten

                                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7" />
                                </svg>

                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (isSidebarOpen && selectedRequest) {
        <aside class="w-80 shrink-0 border-l border-gray-200
                dark:border-gray-700 bg-white
                dark:bg-gray-900 flex flex-col overflow-hidden">

            <div class="flex items-center justify-between px-5 py-4 border-b 
                    border-gray-200 dark:border-gray-700">
                <span class="text-sm font-semibold"> Messwertdetails </span>
                <button (click)="closeSidebar()"> ✕ </button>
            </div>
            <div class="p-5">

                <div class="flex items-center gap-3 mb-4">

                    <div class="h-10 w-10 rounded-full bg-violet-100
                        flex items-center justify-center
                        text-sm font-semibold text-violet-700">

                        {{ customerInitial(selectedRequest.customerName) }}

                    </div>

                    <div>

                        <p class="font-semibold text-gray-900 dark:text-white">
                            {{ selectedRequest.customerName }}
                        </p>

                        <p class="text-xs text-gray-500">
                            {{ selectedRequest.customerEmail }}
                        </p>

                    </div>

                </div>

                <div class="rounded-xl bg-gray-50 dark:bg-gray-800 p-4">

                    <h3 class="font-semibold mb-3">
                        Messwertinformationen
                    </h3>

                    <div class="space-y-2 text-sm">

                        <div class="flex justify-between">
                            <span>ID</span>
                            <span>{{ selectedIndex !== null ? selectedIndex + 1 : '—' }}</span>
                        </div>

                        <div class="flex justify-between">
                            <span>Kategorie</span>
                            <span>{{ selectedRequest.invoiceCategory }}</span>
                        </div>

                    </div>

                </div>

                <div class="rounded-xl bg-gray-50 dark:bg-gray-800 p-4 mt-4">

                    <h3 class="font-semibold mb-3">
                        Buchungsdetails
                    </h3>

                    <div class="space-y-2 text-sm">

                        <div class="flex justify-between">
                            <span>Buchungs-ID</span>
                            <span>#{{ selectedRequest.deliveryId?.uniqueDeliveryId || '—' }}</span>
                        </div>

                        <div class="flex justify-between">
                            <span>Status</span>
                            <span>
                                {{ getBookingStatus(selectedRequest) }}
                            </span>
                        </div>

                        <div class="flex justify-between">
                            <span>Erstellt am</span>
                            <span>
                                {{ formatDate(selectedRequest.bookingCreatedOn) }}
                            </span>
                        </div>

                          <div class="flex justify-between items-center mb-3">
                            <h3 class="font-semibold">Status</h3>
                            <span class="px-2 py-1 rounded-full text-xs"
                                [ngClass]="selectedRequest.status === 0 ? 'bg-yellow-100 text-yellow-700' : 'bg-green-100 text-green-700'">
                                {{ selectedRequest.status === 0 ? 'Im Gange' : 'Weitergeleitet' }}
                            </span>
                        </div>

                    </div>

                    @if (selectedRequest.status === 0) {
                    <button class="w-full flex items-center justify-center gap-2 px-4 py-2.5 rounded-lg
                   bg-brand-500 hover:bg-brand-600 text-white text-xs font-semibold transition">
                        An Anbieter senden
                    </button>
                    }

                </div>

                <div class="mt-4">
                    @if (selectedRequest.deliveryId) {
                    <button (click)="openBookingDetails(selectedRequest.deliveryId.deliveryId)" class="w-full flex items-center justify-center gap-2 px-4 py-2.5 rounded-lg
                            bg-brand-500 hover:bg-brand-600 text-white text-xs font-semibold transition">
                        Buchung anzeigen
                    </button>
                    }
                </div>

            </div>
        </aside>

        }
    </div>

    <!-- Error -->
    @if (!isLoading && errorMessage) {
    <div class="text-center py-12">
        <p class="text-red-500 text-sm mb-3">{{ errorMessage }}</p>
        <button (click)="fetchCustomerChangePayment()"
            class="px-4 py-2 text-sm bg-brand-500 text-white rounded-lg hover:bg-brand-600 transition cursor-pointer">
            Erneut versuchen
        </button>
    </div>
    }

    <!-- Empty -->
    @if (!isLoading && !errorMessage && customerChangePayment.length === 0) {
    <div class="text-center py-12 text-gray-400 text-sm">Keine Messwerte gefunden.</div>
    }

</div>